@media only screen and (max-width: 800px) {


    header, 
    header > div.logo,
    header > nav,
    header nav a,
    main {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        clear: both;
        padding: 5px;
    }

    header nav a { 
        padding: 5px;

    }

    .v-center, .h-right {
        display: block;
        position: relative;
        transform: none;
    }
    
    .taulukko {
        padding-top: 300px;
        padding-bottom: 100px;
    }
    .content {
        padding-top: 300px;
        padding-bottom: 100px;
    }
    
}